body{
	overflow-x: hidden;
	font-family: 'Open Sans','Quicksand',Helvetica;
}

.logo, #header span{
	position: fixed;
	top: 33px;
	left: 118px;
	z-index: 16;
	color: #fff;
	font-size: 26px;
	display: inline-block;
	z-index: 99999999999999999;
}

#header span{
	color: #444;
}

section#aboveFold{
	position: relative;
	color: #fff;
	z-index: 1;
	width: 100%;
	height: 100%;
	overflow: hidden;
	z-index: 5;
	border-bottom: 2px solid orange;
}

video{
	position: fixed;
	top: 0px;
	left: 0px;
	bottom: 0px;
	right: 0px;
	width: 100%;
	z-index: 1;
	-webkit-filter: blur(3px);
	-moz-filter: blur(3px);
	-o-filter: blur(3px);
	-ms-filter: blur(3px);
}

section#overlay,#overlay2,#overlay3{
	width: 100%;
	height: 100%;
	top: 0px;
	left: 0px;
	position: absolute;
	background-color: rgba(0,0,0,0.65);
	z-index: 2;
}

#overlay2{
	top: 100%;
	background: rgba(0,0,0,0.4);
}

#overlay3{
	top: 200%;
}

.main-heading{
	position: absolute;
	top: 200px;
	width: 100%;
	text-align: center;
	font-size: 30px;
}

#showMeMoreBtn{
	background-color: orange;
	color: #fff;
	padding: 10px 20px;
	text-decoration: none;
	display: inline-block;
	font-weight: bold;
}

.above-fold-buttons-holder{
	position: absolute;
	top: 400px;
	text-align: center;
	width: 100%;
}

section#team{
	width: 100%;
	position: absolute;
	top: 100%;
	left: 0px;
	height: 100%;
	z-index: 3;
	color: #fff;
	border-bottom: 2px solid orange;
}

section#contact{
	width: 100%;
	position: absolute;
	top: 200%;
	left: 0px;
	height: 100%;
	z-index: 3;
	color: #fff;
}

#contact .container{
	margin-top: 120px;
	width: 250px;
}

#contact input, #contact textarea{
	width: 250px;
	border: 0px;
	border-bottom: 1px solid orange;
	resize:none;
	color: #fff;
	background: transparent;
}

#contact input:focus{
	outline: none;
}

#contact textarea{
	border: 1px solid orange;
	height: 80px;
}

#contact .row{
	margin: 30px 0px;
}

.container{
	width: 80%;
	margin: 50px auto;
}

section#team p{
	margin-bottom: 50px;
}

#contact button{
	background-color: orange;
	border: 0px;
	outline: 0px;
	color: #fff;
	padding: 9px 20px;
	width: 100%;
}

::-webkit-input-placeholder {
   color: #f9f9f9;
}

:-moz-placeholder { /* Firefox 18- */
   color: #f9f9f9;  
}

::-moz-placeholder {  /* Firefox 19+ */
   color: #f9f9f9;  
}

:-ms-input-placeholder {  
   color: #f9f9f9;  
}