body{
	overflow-x: hidden;
	font-family: 'Open Sans','Quicksand',Helvetica;
}

section#header{
	width: 100%;
	display: none;
	position: fixed;
	top: 0px;
	height: 60px;
	left: 0px;
	z-index: 99;
	background: rgba(255,255,255,0.75);
}

.logo{
	position: absolute;
	top: 33px;
	left: 118px;
	z-index: 16;
	display: inline-block;
}

section#aboveFold{
	position: relative;
	color: #fff;
	z-index: 1;
	width: 100%;
	height: 100%;
	overflow: hidden;
	background: url('../img/background6.jpg') 0px -50px;
	background-size: cover;
	background-attachment: fixed;
	z-index: 5;
}

section#feature1{
	position: absolute;
	top: 100%;
	left: 0%;
	overflow: hidden;
	z-index: 2;
	color: #fff;
	width: 100%;
	height: 100%;
	background: url('../img/background5.jpg') 0px -50px;
	background-size: cover;
	background-attachment: fixed;
}

section#feature2{
	position: absolute;
	top: 200%;
	left: 0px;
	width: 100%;
	height: 100%;
	overflow: hidden;
	background: url('../img/background7.jpg') 0px -50px;
	background-size: cover;
	background-attachment: fixed;
	z-index: 3;
}

section#feature3{
	position: absolute;
	top: 300%;
	left: 0px;
	width: 100%;
	height: 100%;
	overflow: hidden;
	background: url('../img/background4.jpg') 0px -50px;
	background-size: cover;
	background-attachment: fixed;
	z-index: 4;
}

.right.feature-wrapper{
	right: 0px;
	left: auto;
}

section#signup{
	position: absolute;
	top: 400%;
	left: 0px;
	width: 100%;
	height: 100%;
	overflow: hidden;
	background: url('../img/background9.jpg') 0px -50px;
	background-size: cover;
	background-attachment: fixed;
	z-index: 5;
}


.feature-wrapper{
	width: 60%;
	position: absolute;
	background: rgba(0,0,0,0.5);
	bottom: 0px;
	left: 0px;
}

.overlay{
	position: absolute;
	width: 100%;
	height: 100%;
	top: 0px;
	left: 0px;
	background-color: rgba(0,0,0,0.45);
	z-index: 1;
}

.video{
	display: inline-block;
	position: absolute;
	width: 100%;
	text-align: center;
	top: 37%;
	z-index: 2;
}

.above-fold-buttons-holder{
	position: absolute;
	display: inline-block;
	bottom: 50px;
	width: 100%;
	text-align: center;
	z-index: 2;
}

.above-fold-buttons-holder a{
	display: inline-block;
	text-decoration: none;
	color: #fff;
	padding: 15px;
	background: #f39c12;
}

.above-fold-buttons-holder a:hover{
	border-color:#fff;
}

article.main-heading{
	position: relative;
	top: 21%;
	width: 100%;
	text-align: center;
	font-size: 2em;
	z-index: 2;
	font-family: 'Quicksand'
}

section#feature1 strong, section#feature2 strong,section#feature3 strong{
	font-family: 'Quicksand';
	font-weight: normal;
	font-size: 32px;
	color: #fff;
}

section#feature1{
	width: 100%;
}

.icon-circle{
	background-color: #fff; 
	color: #e74c3c !important;
}

section#feature2{
	width: 100%;
}

#signup{
	width: 100%;
	height: 700px;
	background-color: #c0392b;
	position: absolute;
	left: 0px;
	top: 800px; 
}

.signup-container{
	width: 500px;
	text-align: center;
	color: #fff;
	left: 0px;
	margin-top: 70px;
}

.signup-message{
	font-size: 34px;
	font-family: 'Quicksand';
}

.text{
	width: 80%;
	padding: 3% 10%;
	color: #fff;
	text-align: justify;
	display: inline-block;
	vertical-align: middle;
}

.right{
	margin-left: -5px;
}


.feature-icon{
	text-align: center;
	width: 15%;
	display: inline-block;
	vertical-align: middle;
}

.icon-circle{
	width: 120px;
	height: 120px;
	background: #fff;
	color: #fff;
	display: inline-block;
	border-radius: 120px
}

.icon-circle i{
	line-height: 120px;
	font-size: 52px;
}

#facebookBtn{
	text-decoration: none;
	color: #fff;
	padding: 10px 20px;
	display: inline-block;
	margin-bottom: 20px;
	background: #1abc9c;
}

#facebookBtn i{
	padding-right: 17px;
	border-right: 1px solid rgba(255, 255, 255, 0.33);
	margin-right: 15px;
}

.row{
	width: 85%;
	margin: 25px auto;
}

.row label{
	display: inline-block;
	width: 50%;
}

.row input{
	display: inline-block;
	width: 60%;
	margin-left: -4px;
	padding: 10px;
	background: transparent;
	outline: none;
	box-shadow: none;
	border: none;
	border-bottom: 2px solid #1abc9c;
	color: #fff;
}

::-webkit-input-placeholder {
   color: #fff;
}

:-moz-placeholder { /* Firefox 18- */
   color: #fff;  
}

::-moz-placeholder {  /* Firefox 19+ */
   color: #fff;  
}

:-ms-input-placeholder {  
   color: #fff;  
}

form{
	margin-top: -10px;
}

.row button{
	width:60%;
	padding: 10px;
	color: #fff;
	background: #1abc9c;
	border: 1px solid #1abc9c;
	margin-top: 10px;
}

#header button{
	width:150px;
	padding: 10px;
	color: #fff;
	background: #3498db;
	border: 1px solid #1abc9c;
	margin-top: 10px;
	position: absolute;
	right: 100px;
	top: -5px;
}

#header .header-logo{
	position: absolute;
	top: 10px;
	left: 118px;
}

#off-canvas{
	width: 0%;
	float: left;
	-webkit-transition: 0.2s all ease;
}

.main-page{
	float: left;
	width: 100%;
	-webkit-transition: 0.2s all ease;
}

.show-signup #off-canvas{
	width: 20%;
}

#off-canvas{
	position: fixed;
	background: #c43c45;
}

.show-signup .main-page{
	float: left;
	width: 80%
}

section#arrows{
	position: fixed;
	bottom: 45%;
	right: 0px;
	width: 60px;
	height: 60px;
	z-index: 999999999999999;
}

div#up{
	position: relative;
	top: 0px;
	width: 0;
	height: 0;
	border-left: 7px solid transparent;
	border-right: 7px solid transparent;
	border-bottom: 7px solid #f39c12;
	font-size: 0;
	line-height: 0;
	cursor: pointer;
}

div#down{
	position: relative;
	bottom: -4px;
	width: 0;
	height: 0;
	border-left: 7px solid transparent;
	border-right: 7px solid transparent;
	border-top: 7px solid #f39c12;
	font-size: 0;
	line-height: 0;
	cursor: pointer;
}

#up,#down{
	-webkit-transition:0.2s all linear;
	-moz-transition:0.2s all linear;
	-ms-transition:0.2s all linear;
	-o-transition:0.2s all linear;
	transition: 0.2s all linear;
}

#down:hover,#down.active{
	border-top-color: #e67e22;
	bottom: -7px;
}

#up:hover,#up.active{
	border-bottom-color: #e67e22;
	top: -3px;
}